.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 2fr 0.8fr 12fr 0.8fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  font-family: "Poppins", sans-serif;
  color: #464868;
  background: #ececec;
}
.HeaderSection {
  grid-area: header;
  background: white;
  padding-top: 20px;
}

.Header {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  padding: 10px 10px 0px 10px;
  font-weight: 400;
  font-size: 3.5em;
  padding-top: 0px;
  line-height: 1;
}
.login {
  margin: 0px;
  justify-content: flex-end;
  margin-bottom: 5px;
  display: flex;
}
.login select {
  font-family: "Poppins", sans-serif;
  color: #464868;
  font-weight: bold;
  font-size: 0.8em;
  margin-left: 5px;
  margin-right: 40px;
}
.login img {
  height: 20px;
  padding-right: 5px;
}

.nc {
  padding: 0px;
  margin: 0px;
  color: #3279a8;
  font-size: 1.5em;
  font-family: "Monoton", cursive;
  line-height: 1em;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-transform: capitalize;
  background: #464868;
  text-decoration-color: #ececec;
}

.nav a::first-letter {
  font-family: "Monoton", cursive;
  font-size: 1.2em;
}

.nav a {
  text-decoration: none;
  color: #ececec;
  font-size: 1.4em;
}

.nav a:hover {
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 200ms ease-out;
  font-weight: bold;
}

a.home::first-letter {
  color: #3279a8;
}
a.home:hover {
  color: #3279a8;
}

a.coding::first-letter {
  color: #f78888;
}
a.coding:hover {
  color: #f78888;
}

a.football::first-letter {
  color: #f3d250;
}
a.football:hover {
  color: #f3d250;
}

a.cooking::first-letter {
  color: #9bbaa6;
}
a.cooking:hover {
  color: #9bbaa6;
}

.github {
  text-decoration: none;
  color: #ececec;
  font-size: 1.2em;
}

.github:hover {
  font-weight: bold;
  cursor: pointer;
}

.footer {
  grid-area: footer;
  background: #464868;
  color: #ececec;
  padding: 5px;
}
.footer img {
  height: 20px;
}
.main {
  grid-area: main;
  overflow-y: scroll;
}
.main h2 {
  text-transform: capitalize;
}

ul {
  list-style: none;
}

.articlesPage {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 1fr 20fr;
  grid-template-areas:
    "title"
    "sort"
    "articles";
}

.articlesPage h2 {
  grid-area: title;
  margin: 0px;
  font-size: 1.8em;
  padding: 8px;
}
.sort {
  grid-area: sort;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
button {
  margin: 0px 0px 0px 10px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
}

button:hover {
  cursor: pointer;
  background: #3279a8;
  color: white;
  transform: scale(1.08);
  transition: all 300ms ease-out;
}

.articleList {
  grid-area: articles;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px 10px;
}
.articleCard {
  width: 28%;
  min-width: 250px;
  font-size: 1.2em;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  flex-grow: 1;
}
.articleCard:hover {
  box-shadow: 0px 0px 5px 2px#3279a8;
}
.topic {
  font-family: "Monoton", cursive;
  font-size: 1.6em;
  margin: 10px auto;
}
.topic::first-letter {
  text-transform: uppercase;
}
.author {
  font-style: oblique;
  font-size: 0.8em;
}
.author span {
  margin-left: 10px;
}
.votes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.votes p {
  align-content: flex-end;
  margin: 0px;
  font-size: 0.8em;
}

.votes button {
  background: #464868;
  color: white;
  border-radius: 5px;
  font-size: 0.5em;
  font-weight: bold;
  margin: 0px 10px;
}
.votes button:disabled {
  background: #ececec;
  color: #3279a8;
  border-radius: 5px;
  font-size: 0.5em;
  font-weight: bold;
  margin: 0px 10px;
}
.votes button:hover {
  cursor: pointer;
  background: #3279a8;
  color: white;
  transform: scale(1.08);
  transition: all 300ms ease-out;
}

.articleCard a {
  text-decoration: none;
  color: #29648a;
  font-size: 1.1em;
  padding: 5px;
  margin: 0px auto;
}

.articleCard a:hover {
  text-decoration: none;
  color: #29648a;
  font-size: 1.1em;
  font-weight: bold;
  transition: all 200ms ease-out;
}

.ArticlePage {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 2fr 4fr;

  grid-template-areas:
    "articleText"
    "comments";
}
.articleText {
  grid-area: articleText;
  padding: 0px 15px;
}
.articleText h2 {
  margin: 10px;
}
.articleText .body {
  font-size: 1.1em;
  text-align: justify;
  padding: 10px;
  margin: 0px;
}
.articleText .votes {
  font-size: 1.5em;
  justify-content: center;
}

.articleText .author {
  font-size: 1em;
  color: #3279a8;
  margin: 10px;
}

.comments {
  grid-area: comments;
  min-height: 300px;
  background: white;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}
.addComment {
  background: #464868;
  margin: 30px 0px 30px 20px;
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-weight: bold;
  text-align: left;
  height: 240px;
}
.commentErr {
  font-size: 0.9em;
  font-weight: bold;
  color: #f78888;
}

.addComment textarea {
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
}

.commentslist {
  overflow-y: scroll;
}

.comment {
  border: #3279a8 solid 1px;
  margin: 0px 37px 10px 0px;
  border-radius: 10px;
  font-size: 1em;
  min-width: 200px;
}
.comment:hover {
  box-shadow: 0px 0px 5px 2px#3279a8;
}

.comment .votes {
  font-size: 1.2em;
  justify-content: center;
}
.comment .author {
  font-size: 0.9em;
  color: #3279a8;
}

.error p {
  font-size: 2em;
  color: #3279a8;
}

@media only screen and (max-width: 600px) {
  .App {
    font-size: min(0.8);
  }

  .comments {
    grid-area: comments;
    min-height: 300px;
    background: white;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: unset;
  }
  .commentslist {
    overflow-y: unset;
  }
  .addComment {
    background: #464868;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-weight: bold;
    text-align: left;
    height: 210px;
  }
  .addComment textarea {
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    font-size: 0.8em;
    font-family: "Poppins", sans-serif;
    resize: both;
  }
  .articleList {
    overflow-y: unset;
  }
  .Header {
    margin: 0px;
    font-family: "Poppins", sans-serif;
    padding: 10px 10px 5px 10px;
    font-weight: 400;
    font-size: 4em;
    padding-top: 0px;
    line-height: 1;
  }
  .HeaderSection {
    grid-area: header;
    background: white;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .nav a {
    text-decoration: none;
    color: #ececec;
    font-size: 1.3em;
  }
  .ArticlePage {
    overflow-y: scroll;
  }
  .login {
    margin: 0px;
    justify-content: flex-end;
    margin-bottom: auto;
    display: flex;
  }
}
